    button.Subscribe {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        background-color: rgb(200, 0, 0);
        border-radius: 2px;
        border-width: 2px;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        transition: opacity 0.15s;
    }
    
    button.Subscribe:hover {
        opacity: 0.7;
    }
    
    button.Subscribe:active {
        opacity: 0.5;
    }
    
    input.Loginin {
        height: 35px;
        width: 86px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
        color: rgb(109, 109, 252);
        background-color: white;
        border-width: 2px;
        border-radius: 2px;
        border-style: solid;
        border-color: rgb(109, 109, 252);
        cursor: pointer;
        transition: background-color 0.15s, color 0.15s;
    }
    
    .Loginin:hover {
        color: white;
        background-color: rgb(109, 109, 252);
        opacity: 0.7;
    }
    
    .Loginin:active {
        opacity: 0.5;
    }
    
    input.submit {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
        color: blue;
        background-color: white;
        border-radius: 10px;
        border-width: 2px;
        border: solid;
        border-color: rgb(126, 126, 255);
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        transition: border-width 0.15s, border-color 0.15s, box-shadow 0.15s, padding-left 0.3s, padding-right 0.3s;
        box-shadow: 1px 1px 3px rgba(101, 100, 100, 0.5);
    }
    
    .submit:hover {
        padding-left: 15px;
        padding-right: 15px;
        border-width: 2.25px;
        background-color: rgba(49, 49, 212, 0.2);
        border-color: rgb(84, 84, 255);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }
    
    .submit:active {
        background-color: rgba(8, 8, 204, 0.2);
        color: rgb(28, 28, 170);
    }
    
    p.usrname {
        height: 16px;
        font-weight: bold;
        margin-bottom: 8px;
    }
    
    p.email {
        height: 16px;
        margin-top: 3px;
        margin-bottom: 2px;
        color: blueviolet;
    }
    
    p.留言 {
        font-family: Ma Shan Zheng;
        font-size: 18px;
        font-weight: 400;
    }
    
    span.Tuanzi {
        font-family: Zhi Mang Xing;
        font-size: 25px;
        color: rgb(234, 91, 212);
        margin-right: 15px;
    }
    
    span.Tuanzi:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    
    p.Nagisa {
        font-size: 20px;
        font-weight: bold;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
        padding-right: 12px;
        background-color: hsl(60, 85%, 81%);
        color: rgb(108, 82, 221);
        text-align: center;
        margin-top: 30px;
    }
    
    p.Anime {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 20px;
        font-weight: bold;
    }
    
    p.Anime-name {
        margin-top: 0px;
        color: rgb(84, 81, 81);
    }
    
    em {
        color: rgb(0, 102, 255);
        font-style: normal;
    }
    
    img.Kirby {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        object-fit: cover;
    }
    
    img.tweet-avatar {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        object-fit: cover;
    }
    
    img.NiYa {
        width: 300px;
        border-radius: 20px;
        float: right;
        margin-right: 10px;
    }
    
    img.Ushio {
        width: 320px;
        height: 480px;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    div.Subscribe {
        margin-left: 15px;
        display: inline-block;
    }
    
    div.Loginin {
        margin-left: 5px;
        display: inline-block;
    }
    
    div.tweet {
        width: 240px;
        height: 100px;
        vertical-align: top;
        margin-left: 15px;
        display: grid;
    }
    
    div.tweet-avatar {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
    
    div.tweet-content {
        display: grid;
        place-items: center;
    }