div.side-bar {
    width: 70px;
    position: fixed;
    top: 56px;
    left: 0px;
    bottom: 0px;
    z-index: 9999;
    background-color: white;
    display: flex;
    flex-direction: column;
}

div.side-bar-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: white;
    cursor: pointer;
}

.side-bar-link:hover {
    background-color: rgb(216, 214, 214);
    opacity: 0.7;
}

div.side-bar-name {
    margin-top: -6px;
    font-size: 12px;
}

img.side-bar-icon {
    width: 28px;
}